body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.tabbar {
    height: 35px;
    width: 100vw;
    background-color: #eee;
    border-bottom: solid 1px #ccc;
    display: flex;
    align-items: center;
}
.tabTitle {
    margin-left: 15px;
    font-size: 16px;
    padding: 8px 10px;
}
.tabTitle:hover {
    background-color: #ddd;
}
.tabActive {
    background-color: #ccc;
}
.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 7px #eee;
}
.toolbarActive {
    display: flex !important;
}
.toolbar .toolbar-row {
    display: none;
    justify-content: flex-start;
    padding: 5px 10px;
    align-items: center;
}
.toolbar .control {
    margin-right: 20px;
    border: solid 1px #aaa;
    padding: 5px;
    border-radius: 8px;
}
.toolbar .control * {
    border-radius: 6px;
    border: solid 1px;
    padding: 3px;
}
.toolbar .control label {
    border: none;
}
.playarea {
    display: flex;
    justify-content: space-around;
    border: solid 7px #eee;
}
.playareapanel {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5px;
}
.panelheading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.panelheading h2 {
    margin: 7px 0;
}
.elementlist {
    width: auto;
    height: 100%;
    border: solid 1px black;
    overflow: scroll;
}
.elementlist label {
    font-size: 14px;
    font-weight: 300;
}
textarea {
    width: auto;
    height: 100%;
    overflow: scroll;
}
#output {
    border: solid 1px black;
    width: auto;
    height: 100%;
    overflow: scroll;
}
.elemID {
    color: #888888;
    font-style: italic;
}
.elemType {
    font-weight: bold;
}
#txtFontSize {
    width: 75px;
}
label {
    font-size: 13px;
    font-weight: 600;
}
/* These do not work here so have to add style to the element tag in html */
/* input#inputFontColor {
    vertical-align: middle;
} */
#comboFontFace {
    width: 200px;
}
#txtCommon {
    outline: none;
    width: 300px;
    padding: 7px;
}
button:active {
    background-color: #ccc;
}